.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  width: 960px;
  height: 70vh;
  margin-top: 1rem;
  background-color: var(--secondary-game-container-color);
  border-radius: 10px;
}

.game-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary-game-container-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Other containers */

.all-content-on-site-wrapper {
  width: 100%;
}
