.auth-bar {
  height: 4.1875rem;
  line-height: 4.1875rem;
  padding: 0.2rem 0;
  padding-top: 3.2px;
  padding-bottom: 3.2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: #282447;
  box-shadow: 0px 3px 10px #161427;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo-link {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.logo {
  width: 175px;
  /* padding: 1rem; */
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

.socials,
.left {
  display: flex;
}

.balance {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #383158;
  cursor: pointer;
  line-height: 1rem;
  box-sizing: inherit;
  margin-left: 0;
  padding-left: 4px;
}

.currency-string {
  font-size: 15px;
  color: #adb8cc;
  margin-left: 7px;
  cursor: default;
  user-select: none;
}

.balance-amount {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  user-select: none;
  font-variant-numeric: tabular-nums;
}

.deposit {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #232645;
  background: #60af5a;
  text-transform: capitalize;
  font-weight: 500;
  height: 36px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-width: 32px;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out;
  margin-left: 15px;
}

.deposit:hover {
  filter: brightness(1.15);
}

.account-info {
  background-color: #383158;
  color: #adb8cc;
  white-space: nowrap;
  padding: 0 1.25rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.balance-deposit-wrapper {
  margin: 0 auto;
  background-color: #383158;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  height: 46px;
}

.account-info:hover {
  filter: brightness(1.15);
}

.username {
  color: rgb(173, 184, 204);
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
}

.user-icon {
  color: rgb(173, 184, 204);
  margin-right: 0.625rem;
  user-select: none;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.socials-discord,
.socials-tiktok {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(103%) contrast(103%);
  opacity: 0.3;
  height: 25px;
  width: 25px;
  line-height: 67px;
  vertical-align: middle;
  user-select: none;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #323246;
  cursor: pointer;
  border-radius: 0.3125rem;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.logout-img {
  font-size: 15px;
  width: 1.15rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.logout-img:hover {
  filter: brightness(2);
}

.plus-icon-balance {
  position: absolute;
  right: -5%;
  top: -5%;
  display: none;
  width: 15px;
  margin-left: 0.25rem;
}

.euro-icon-mobile {
  display: none !important;
  font-size: 1.25rem;
  margin-left: 0.25rem;
}

.cash-balance-icon {
  width: 18px;
  height: 18px;
  text-shadow: 0px 2px 0px, rgba(0, 0, 0, 0.15);
  margin-right: 6px;
}
