/*Insufficient balance popup*/

.insufficient-balance {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--body-background-color);
  border-radius: 0.3125rem;
  padding: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.insufficient-balance-p {
  color: #ff0000;
  font-size: 1.2rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover {
  filter: brightness(0.8);
}

.popup-visible .game-wrapper {
  pointer-events: none;
  user-select: none;
  filter: brightness(0.8);
}

/*Incorrect bet*/

.incorrect-bet {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--body-background-color);
  border-radius: 0.3125rem;
  padding: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.incorrect-bet-p {
  color: rgb(189, 37, 37);
  font-size: 1.2rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover {
  filter: brightness(0.8);
}

.popup-visible .main {
  pointer-events: none;
  user-select: none;
  filter: brightness(0.8);
}
