.flex-center-content {
  justify-content: center;
  align-items: center;
}

.mines-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.mine {
  width: 112px;
  height: 112px;
  border-radius: 10px;
  border-style: none;
  background-color: #0d0a2c;
  background-image: url(../img/logo/backgroundMine.png);
  transition: all 150ms ease-in-out;
  box-shadow: 0px 3px 0px #17153b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 6.5rem;
}

.mine:hover:not(:disabled) {
  background-image: url(../img/logo/backgroundMineHover.png);
  transform: translateY(-4px);
  cursor: pointer;
}

.mine:active {
  transform: translateY(0px);
}

.mine:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: translateY(0px);
}

.num-of-mines:disabled,
.bet-button:disabled {
  cursor: not-allowed;
}

.mine-selected {
  cursor: default;
  pointer-events: none;
}

/* Mine turn animation */
.turn-animation {
  animation: turnAnimation 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes turnAnimation {
  0% {
    transform: translateX(0) rotateY(0);
  }

  25% {
    transform: translateX(-3px) rotateY(-20deg);
  }

  75% {
    transform: translateX(3px) rotateY(-180deg);
  }
  100% {
    transform: translateX(0) rotateY(-180deg);
  }
}

.turn-back {
  animation: turnAnimationBack 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes turnAnimationBack {
  0% {
    transform: translateX(0) rotateY(-180deg);
  }

  25% {
    transform: translateX(-3px) rotateY(-160deg);
  }

  75% {
    transform: translateX(3px) rotateY(0);
  }
  100% {
    transform: translateX(0) rotateY(0);
  }
}

/* Cashout popup */

.cashout-popup-wrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.cashout-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
  width: 172px;
  height: 118px;
  background-color: #1a2c38;
  border-style: solid;
  border-radius: 10px;
  border-color: #fcd804;
  border-width: 4px;
}

.cashout-popup-content-wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.final-multiplier-wrapper {
  display: flex;
}

.final-multiplier {
  font-size: 32px;
  color: #fcd804;
  font-weight: 700;
}

.multiplier-sign {
  font-size: 32px;
  margin-left: 2px;
  color: #fcd804;
  font-weight: 700;
}

.horizontal-divider {
  height: 3px;
  width: 50%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #2f4553;
}

.cashed-out-balance-wrapper {
  display: flex;
}

.cashed-out-amount {
  color: #fcd804;
}

.cashout-eur {
  color: #fcd804;
  margin-left: 4px;
}

.remaining-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}

#remainingWrapper {
  display: none;
}

#remainingAsteroids,
#remainingPlanets {
  opacity: 1;
  background-color: var(--number-input-background-color);
}

#remainingAsteroids:hover,
#remainingPlanets:hover {
  cursor: pointer;
  border-color: var(--number-input-border-hover-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
