.chances-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-game-container-color);
  width: 95%;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 5px;
}

.multiplier,
.over-under,
.win-chance {
  padding: 0.5rem;
  width: 33%;
}

.results-array {
  width: 100%;
}

.slider-wrapper {
  width: 70%;
}

.slider-padding {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--range-input-inner-padding-color);
}

.zones-wrapper {
  background-color: var(--range-input-outer-padding-color);
  padding: 15px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

/*Range input styles*/

input[type="range"] {
  width: 100%;
  height: 9px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    #e60000 0%,
    #e60000 calc(50% - 10px),
    #fcd704 calc(50% - 10px),
    #fcd704 100%
  );
  outline: none;
  border-radius: 10px;
  margin: 10px 0;
  pointer-events: none;
  user-select: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 35px;
  width: 35px;
  border-radius: 10%;
  background-color: #4391e7;
  background-image: url(img/lines.svg);
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  pointer-events: all;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 35px;
  width: 35px;
  border-radius: 10%;
  border-style: none;
  background-color: #4391e7;
  background-image: url(img/lines.svg);
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: all;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  pointer-events: none;
  user-select: none;
}

.result-popup {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: var(--help-body-background-color);
  font-size: 1.15rem;
  color: #000;
  text-align: center;
  clip-path: polygon(50% 100%, 100% 38%, 80% 0, 20% 0, 0 38%);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(-70px) translateX(-20px);
}

.result-popup-win {
  color: var(--win-element-background-darker);
  text-shadow: 1px 1px 0px #2e2e2e;
  font-weight: 900;
  font-variant-numeric: tabular-nums;
}

.result-popup-loss {
  color: #e60000;
}

.results-array {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  padding: 10px;
  height: 52px;
}

#resultsArray > p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 0.25rem;
  border-radius: 20px;
  font-size: 14px;
  background-color: #2f4553;
  transition: all 0.2s ease-in-out;
}

#resultsArray > p.win {
  background-color: var(--win-element-background);
  color: #04172d;
}

.currency-after {
  display: flex;
  align-items: center;
}

.game-text {
  color: #d5dceb;
  font-size: 0.9rem;
}

#overUnder {
  cursor: pointer;
  background-color: var(--number-input-default-disabled);
  color: var(--default-text-color);
  opacity: 1;
}

.over-under-autobet {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
