body > main {
  color: var(--default-text-color);
  padding: 0;
  position: relative;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 1.75rem;
  color: #fcd804;
}

body > main > div {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: var(--primary-game-container-color);
  min-height: 850px;
  line-height: 40px;
  font-size: 14px;
  color: var(--default-text-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

body > main > div > section.terms {
  line-height: 40px;
  font-size: 14px;
  color: var(--default-text-color);
  margin: 0;
  position: relative;
  z-index: 9;
  padding: 50px 96px;
  padding-bottom: 0;
}

body > main > div > section.terms > ul {
  line-height: 40px;
  font-size: 14px;
  color: var(--default-text-color);
  padding: 0;
  margin-top: 0.5rem;
  list-style: disc;
  list-style-type: disc;
}

body > main > div > section.terms > ul > li {
  font-weight: 400;
  line-height: 32px;
  font-size: 14px;
  color: var(--default-text-color);
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.terms-text {
  text-align: justify;
  font-weight: 400;
  line-height: 25px;
  font-size: 14px;
  color: var(--default-text-color);
  padding: 0;
  margin-top: 1rem;
}
